main {
    width: 100%;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
header, .row2, .row3, .row4, .row4, .row5 {
    display: flex;
    flex: 1;
}
header {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 30px;
    top: 0px;
    background-color: white;
}
ul {
    list-style-type: none;   
    padding-left: 0px;
    padding-right: 25x;
    padding-top: 0%;
    margin-top: 0%;
}
nav {
    width: 70%;
}
nav li, .ls li {
    display: inline-block;
    padding: 30px 30px 5px;
}
.ls {
    width: 20%;
}
a {
    text-decoration: none;
}

.hero-section {
    background: url(../Images/code-3.jpg) center center;
    width: 100%;
    background-size: cover;
    height: 500px;
    text-align: center;
}

.row5col1, .row5col2, .row5col3, .row5col4, .row5col5, .row5col6 {
    width: 20%;
    height: 60px;
    background-color: rgb(88, 84, 84)
}

.row2 {
    padding-top: 70px;  
}
.row3col1, .row3col2, .row4col1, .row4col2 {
    padding-left: 20px;
    flex: 1; 
}
.row3 ul {
    list-style-type: square;
    padding-left: 20px;
}
.row3col1, .row3col2, .row4 {
    border: 5px solid grey;
}
button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
  }
@media screen and (max-width: 600px) {
    .row3col1 {
        border-color: red;   
    }
    
}

  