form {
    width: 80vh;
    height: 60vh;
    background-color: beige;
    border: 3px solid gray;
    margin: auto;   
}
form li {
    list-style: none;
    margin-bottom: 30px;
}
form ul {
    padding-left: 0px; 
    margin-left: 120px;
   
}
li:nth-child(1) {
    background: url(/Images/user.svg) no-repeat;
    padding-left: 30px;
}
li:nth-child(2) {
    background: url(/Images/lock.svg) no-repeat;
    padding-left: 30px;
}
h1   {
    text-align: center;
}
a {
    padding : 50px;
}
input {
    height: 20px;
    width: auto;
}
@media screen and (max-width: 600px){
    form {
        background-color: red;  
    }
}