main {
    width: 100%;
    flex-direction: column;
}
.r1, .r3, .r4, .r4, .r5 {
    display: flex;
    flex: 1;
}
.r1 {
    position: fixed;
    width: 100%;
    top: 0px;
}
ul {
    list-style-type: none;   
    padding-left: 10px;
    padding-right: 30px;
    background-color: green;
    padding-top: 0%;
    margin-top: 0%;
}
nav {
    width: 60%;
}
nav li, .ls {
    display: inline-block;
    padding: 10px 30px;
}
a {
    text-decoration: none;
}
.r1 img {
    background-color: red;
    width: 20%;
}
.hero-section {
    background: url(codeison.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    height: 600px;
    text-align: center;
}



  